html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.btn {
  display: block;
  margin: 1em auto;
  padding: 1em;
  font-weight: bold;
  color: black;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form_password-icon {
  position: absolute;
  top: 35px;
  right: 5px;
  width: 30px;
}

.form {
  width: 40%;
  min-height: 300px;
  margin: 5em auto;
  padding: 1em;
  text-align: center;
}

.form_input {
  width: 100%;
  height: 2.5em;
  margin: 1em auto;
  padding: 1em;
  border: solid 1px #4CBA9D;
  border-radius: 3px;
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.error-message {
  margin: 6px 0;
  color: red;
}

.btn:active {
  transform: translateY(1px);
}

.btn-green {
  background-color: #4CBA9D;
}

.btn-green:hover {
  box-shadow: 0 14px 28px rgba(76, 186, 157, 0.25), 0 10px 10px rgba(76, 186, 157, 0.25);
}

.btn-orange {
  background-color: #F07E61;
  border: solid 2px #F07E61;
  border-radius: 3px;
}

.btn-orange:hover {
  box-shadow: 0 14px 28px rgba(240, 126, 97, 0.25), 0 10px 10px rgba(240, 126, 97, 0.25);
}

.avatar-big {
  width: 110px;
}

.avatar {
  width: 60px;
}

.avatar-small {
  width: 30px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 1px 3px rgba(76, 186, 157, 0.5), 0 1px 2px rgba(76, 186, 157, 0.5);
}

.header_logo-img {
  width: 4em;
  height: auto;
}

.header_title {
  font-weight: bold;
  font-size: 1em;
  color: #F07E61;
}

.header_nav-list {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.header_nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.header_nav-link:hover {
  color: #F07E61;
}

.form_message {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.form_input-descr {
  display: block;
  text-align: start;
}

.form_password {
  position: relative;
}

.form_select {
  width: 100%;
  height: 3.5em;
  margin: 1em auto;
  padding: 1em;
  border: solid 1px #4CBA9D;
  border-radius: 3px;
  font-weight: bold;
}

.loginform_link {
  color: #4CBA9D;
  font-weight: bold;
}

.signupform_link {
  color: #F07E61;
  font-weight: bold;
}

.form-delete_choices {
  display: flex;
  width: 50%;
  margin: auto;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

.homepage_title {
  width: 100%;
  margin: 26px auto;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  border-radius: 3px;
}

.homepage_searchbar {
  width: 50%;
  margin: 16px auto 0 auto;
  text-align: center;
}

.homepage_searchbar-link {
  width: 60%;
  margin: auto;
  padding: 6px;
  color: #4CBA9D;
  text-decoration: none;
  border-radius: 3px;
}

.homepage_searchbar-link:hover {
  background-color: #4CBA9D;
  color: black;
  font-weight: bold;
}

.homepage_searchbar-descr {
  display: block;
  text-align: center;
  margin-top: 16px;
}

.homepage_searchbar-input {
  min-width: 200px;
  width: 100%;
  height: 2.5em;
  margin: 1em auto;
  padding: 1em;
  border: solid 2px #4CBA9D;
  border-radius: 3px;
  font-weight: bold;
}

.homepage_searchbar-result {
  display: flex;
  flex-direction: column;
}

.homepage_card {
  width: 220px;
  margin: 8px;
  padding: 16px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(76, 186, 157, 0.5), 0 1px 2px rgba(76, 186, 157, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.homepage_card:hover {
  box-shadow: 0 14px 28px rgba(76, 186, 157, 0.25), 0 10px 10px rgba(76, 186, 157, 0.25);
}

.homepage_card_identity {
  text-align: center;
  font-weight: 700;
}

.homepage_card_infos {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.monster-profil {
  width: 85%;
  margin: 32px auto;
}

.monster-profil_identity {
  display: flex;
  justify-content: space-between;
}

.monster-profil_name {
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.monster-profil_infos {
  text-align: center;
}

.monster-profil_follow {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.monster-profil_following,
.monster-profil_follower {
  width: 30%;
}

.monster-profil_follow-list {
  display: flex;
  margin: 8px auto;
  font-size: 14px;
  border-radius: 3px;
  align-items: center;
  box-shadow: 0 1px 3px rgba(76, 186, 157, 0.5), 0 1px 2px rgba(76, 186, 157, 0.5);
  cursor: pointer;
}

.monster-profil_follow-list:hover {
  box-shadow: 0 14px 28px rgba(76, 186, 157, 0.25), 0 10px 10px rgba(76, 186, 157, 0.25);
}

.monster-profil_text {
  margin-top: 16px;
  text-align: center;
}

.monster-profil_link-login {
  color: #4CBA9D;
}

.monster-profil_link-signup {
  color: #F07E61;
}

.monster-profil_options {
  width: 40%;
  margin: auto;
}

.monster-profil_options-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.monster-profil_options-btn {
  min-width: 90px;
  width: 155px;
  margin: 6px auto;
  padding: 6px 0;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px black;
}

.select-avatar {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.select-avatar_text {
  width: 100%;
  text-align: center;
}

.select-avatar_box {
  width: 24%;
  text-align: center;
  border: 2px solid transparent;
}

.select-avatar_box:hover {
  box-shadow: 0 14px 28px rgba(76, 186, 157, 0.25), 0 10px 10px rgba(76, 186, 157, 0.25);
  border-radius: 5px;
}

.pagenotfound {
  text-align: center;
}

.pagenotfound_title {
  margin: 24px auto;
  font-size: 1.5em;
  font-weight: bold;
  color: #F07E61;
}

.pagenotfound_img {
  margin: 26px auto;
  width: 300px;
}

.pagenotfound_link {
  font-weight: bold;
  color: #F07E61;
}

.loader-box {
  text-align: center;
}

.loader-text {
  margin: 26px auto;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */