<div>
    <p>
        {{ message }}
    </p>
    <form name="form"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()"
    >
        <div>
            <label for="email">Adresse email</label>
            <input type="text" id="email" [(ngModel)]="form.email" name="email" #email="ngModel" required autocomplete="off">
            <span *ngIf="email.errors && loginForm.submitted">
                Adresse email requise
            </span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="form.password" #password="ngModel" name="password" required>
            <span *ngIf="password.errors && loginForm.submitted">
                Mot de passe est requis
            </span>
        </div>
        <div>
            <button type="submit" [disabled]="!loginForm.form.valid">
                Se connecter
            </button>
        </div>
    </form>
    <div>
        <p>
            Pas encore membre ?
        </p>
        <a [routerLink]="['/signup']">
            Créer un compte
        </a>
    </div>
</div>