<section class="form">
    <p class="form_message">
        {{ message }}
    </p>
    <p class="error-message">
        {{ errorMessage }}
    </p>
    <form name="form"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()"
    >
        <div>
            <label for="email" class="form_input-descr">Adresse email</label>
            <input type="text"
                    id="email"
                    class="form_input"
                    [(ngModel)]="form.email"
                    name="email"
                    #email="ngModel"
                    autocomplete="off"
                    required
                >
            <span class="error-message" *ngIf="email.errors && loginForm.submitted">
                Adresse email requise
            </span>
        </div>
        <div class="form_password">
            <label for="password" class="form_input-descr">Mot de passe</label>
            <input [type]="changetype? 'password' : 'text'"
                    id="password"
                    class="form_input"
                    [(ngModel)]="form.password"
                    #password="ngModel"
                    name="password"
                    required
                >
            <div (click)="viewPassword()">
                <img class="form_password-icon"
                    [src]="passwordVisible ? iconShow : iconHide"
                    [title]="passwordVisible ? 'Afficher le mot de passe' : 'Masquer le mot de passe'"
                    [alt]="passwordVisible ? 'afficher' : 'masquer'">
            </div>
            <span class="error-message" *ngIf="password.errors && loginForm.submitted">
                Mot de passe est requis
            </span>
        </div>
        <div>
            <button class="btn btn-green" type="submit" [disabled]="!loginForm.form.valid">
                Se connecter
            </button>
        </div>
    </form>
        <p>
            Pas encore membre ?
            <a class="loginform_link" [routerLink]="['/signup']">
                Créer un compte
            </a>
        </p>
</section>