<nav>
    <div>
        <a [routerLink]="['/monsters']">
            Accueil
        </a>
    </div>
    <div *ngIf="isLogged()">
        <a href="">
            Mon compte
        </a>
    </div>
    <div *ngIf="!isLogged()">
        <div>
            <a [routerLink]="['/login']">
                Se connecter
            </a>
        </div>
        <div>
            <a [routerLink]="['/signup']">
                S'inscrire
            </a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>