<h2>Modifier votre profil</h2>

<div *ngIf="onHisProfil()">
    <div *ngIf="monster">
        <img [src]="monster.avatar" alt="">

    <form (ngSubmit)="onSubmit()" #monsterForm="ngForm">
    <div>
        <div>
            <div>

                <!-- monster name -->
                <div>
                    <label for="name">Nom</label>
                    <input type="text" id="name" required [(ngModel)]="monster.name" name="name" #name="ngModel">

                    <div [hidden]="name.valid || name.pristine">
                        Un nom est requis (1-35)
                    </div>
                </div>

                <!-- monster email -->
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email"
                            required
                            [(ngModel)]="monster.email"
                            email="true"
                            name="email"
                            #email="ngModel"
                            >
                    <div [hidden]="email.valid || email.pristine">
                        Vous devez indiquer une adresse mail valide
                    </div>
                </div>

                <!-- monster race -->
                <div>
                    <label for="race">Race</label>
                    <p *ngFor="let race of monsterRace">
                        <label>
                            <input type="radio"
                                    id="{{ race }}"
                                    [value]="race"
                                    [checked]="hasRace(race)"
                                    (change)="selectRace($event, race)"
                                />
                            <span [attr.for]="race">
                                {{ race }}
                            </span>
                        </label>
                    </p>
                </div>

                <!-- monster role -->
                <div>
                    <label for="role">Role</label>
                    <p *ngFor="let role of monsterRole">
                        <label>
                            <input type="radio"
                                    id="{{ role }}"
                                    [value]="role"
                                    [checked]="hasRole(role)"
                                    (change)="selectRole($event, role)"
                                />
                            <span [attr.for]="role">
                                {{ role }}
                            </span>
                        </label>
                    </p>
                </div>

                <!-- Submit button -->
                <div>
                    <button type="submit" [disabled]="!monsterForm.form.valid">
                        Valider
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>
</div>
</div>
<h3 *ngIf="!monster">Aucun monstre à éditer...</h3>