<section class="homepage">
    <div class="homepage_title" *ngIf="!isLoading && monsterList.length > 0">
        <app-search-monster></app-search-monster>
    </div>
    <p class="homepage_title" *ngIf="!isLoading && monsterList.length === 0">
        C'est bien silencieux par ici, rejoignez-nous !
    </p>

    <article *ngFor="let monster of monsterList"
            (click)="goToMonsterProfil(monster)"
            class="homepage_card">
        <div class="homepage_card_identity">
            <img class="avatar" [src]="monster.avatar" alt="" />
            <p>
                {{ monster.name }}
            </p>
        </div>
        <div>
            <ul class="homepage_card_infos">
                <li>
                    {{ monster.role }}
                </li>
                <li>
                    {{ monster.race }}
                </li>
            </ul>
        </div>
    </article>
</section>

<div class="loader-box" *ngIf="isLoading">
    <app-loader></app-loader>
</div>