<section class="homepage">
    <article *ngFor="let monster of monsterList"
            (click)="goToMonsterProfil(monster)"
            class="homepage_card">
        <div class="homepage_card_identity">
            <img class="avatar" [src]="monster.avatar" alt="" />
            <p>
                {{ monster.name }}
            </p>
        </div>
        <div>
            <ul class="homepage_card_infos">
                <li>
                    {{ monster.role }}
                </li>
                <li>
                    {{ monster.race }}
                </li>
            </ul>
        </div>
    </article>
</section>

<div *ngIf="monsterList.length == 0">
    <app-loader></app-loader>
</div>