<section class="monster-profil" *ngIf="monster">
    <div class="monster-profil_identity">
        <p class="monster-profil_name">
            {{ monster.name }}
        </p>
        <div class="monster-profil_options"
            *ngIf="isLogged() && !onHisProfil()">
            <button *ngIf="!isFollower"
                    class="btn btn-green"
                    (click)="followMonster(monster._id)">
                <span *ngIf="!isFollower && !isFollowing">
                    Suivre
                </span>
                <span *ngIf="!isFollower && isFollowing">
                    Suivre en retour
                </span>
            </button>
            <button *ngIf="isFollower"
                    class="btn btn-orange"
                    (click)="unfollowMonster(monster._id)">
                Ne plus suivre
            </button>
        </div>
    </div>

    <div class="monster-profil_infos">
        <img class="avatar-big" [src]="monster.avatar" alt="">
        <ul>
            <li>
                {{ monster.race}}
            </li>
            <li>
                {{ monster.role }}
            </li>
        </ul>
        <span>
            Membre depuis {{ monster.created_at | date: "yyyy" }}
        </span>
    </div>

    <!-- Abonnements et Abonnés -->
    <ng-container *ngIf="isLogged()">
        <div class="monster-profil_follow">
            <div class="monster-profil_following">
                <div>
                    <button class="btn"
                            (click)="showMonsterFollowing()">
                        <span>
                            Abonnements ({{ followingCount }})
                        </span>
                    </button>
                </div>
                <ng-container *ngIf="showFollowing">
                    <div *ngFor="let following of followingList"
                        (click)="showMonsterProfil(following._id)">
                        <ul class="monster-profil_follow-list">
                            <li>
                                <img class="avatar-small" [src]="following.avatar" alt="">
                            </li>
                            <li>
                                {{ following.name }}
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>

            <div class="monster-profil_follower">
                <div>
                    <button class="btn" (click)="showMonsterFollower()">
                        <span>
                            Abonnés ({{ followerCount }})
                        </span>
                    </button>
                </div>
                <ng-container *ngIf="showFollower">
                    <div *ngFor="let follower of followerList"
                        (click)="showMonsterProfil(follower._id)">
                        <ul class="monster-profil_follow-list">
                            <li>
                                <img class="avatar-small" [src]="follower.avatar" alt="">
                            </li>
                            <li>
                                {{ follower.name }}
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <div *ngIf="!isLogged()">
        <p class="monster-profil_text">
            Pour voir le profil complet et suivre le monstre
            <a class="monster-profil_link-login" [routerLink]="['/login']">
                Connectez-vous
            </a>
            ou
            <a class="monster-profil_link-signup" [routerLink]="['/signup']">
                Créer un compte
            </a>
        </p>
    </div>
</section>

<div  class="loader-box" *ngIf='isLoading'>
    <app-loader></app-loader>
</div>