<div *ngIf="monster">
    <h2>{{ monster.name }}</h2>
    <div>
        <img class="avatar" [src]="monster.avatar" alt="">
    </div>
    <div>
        <ul>
            <li>
                {{ monster.race}}
            </li>
            <li>
                {{ monster.role }}
            </li>
        </ul>
        <span>
            Membre depuis {{ monster.created_at | date: "yyyy" }}
        </span>

        <div *ngIf="isLogged()">
            <div>
                <span>
                    {{ followingCount }}
                </span>
                <button (click)="showMonsterFollowing()">
                    Abonnements
                </button>
            <ng-container *ngIf="showFollowing">
                <div *ngFor="let following of followingList">
                    <ul>
                        <li>
                            {{ following.name }}
                        </li>
                    </ul>
                </div>
            </ng-container>
            </div>

            <div>
                <span>
                    {{ followerCount }}
                </span>
                <button (click)="showMonsterFollower()">
                    Abonnés
                </button>
                <ng-container *ngIf="showFollower">
                <div *ngFor="let follower of followerList">
                    <ul>
                        <li>
                            {{ follower.name }}
                        </li>
                    </ul>
                </div>
            </ng-container>
            </div>
        </div>
        <div *ngIf="!isLogged()">
            <p>
                Pour voir le profil complet
                <a [routerLink]="['/login']">
                    Connectez-vous
                </a>
                ou
                <a [routerLink]="['/signup']">
                    Créer un compte
                </a>
            </p>
        </div>
    </div>
    <div *ngIf="onHisProfil()">
        <div>
            <button (click)="goToEditMonster()">
                Modifier
            </button>
        </div>
        <div>
            <button (click)="logout()">
                Deconnexion
            </button>
        </div>
        <div>
            <button (click)="goToDeleteMonster()">
                Supprimer mon compte
            </button>
        </div>
    </div>
</div>

<div *ngIf='!monster'>
    <app-loader></app-loader>
</div>