<div *ngIf="monster">
    <div>
        <div>
            <div class="monster-profil_title">
                <h2>{{ monster.name }}</h2>
                <div *ngIf="isLogged() && !onHisProfil()">
                    <button *ngIf="!isFollower()"
                            (click)="followMonster(monster._id)"
                    >
                        <span *ngIf="!isFollower() && !isFollowing()">
                            Suivre
                        </span>
                        <span *ngIf="!isFollower() && isFollowing()">
                            Suivre en retour
                        </span>
                    </button >
                    <button *ngIf="isFollower()"
                            (click)="unfollowMonster(monster._id)"
                    >
                        Ne plus suivre
                    </button>
                </div>
            </div>
        </div>
        <div>
            <img class="avatar" [src]="monster.avatar" alt="">

            <ul>
                <li>
                    {{ monster.race}}
                </li>
                <li>
                    {{ monster.role }}
                </li>
            </ul>
            <span>
                Membre depuis {{ monster.created_at | date: "yyyy" }}
            </span>
        </div>

        <div *ngIf="isLogged()">
            <!-- abonnements -->
            <div>
                <span>
                    {{ followingCount }}
                </span>
                <button (click)="showMonsterFollowing()">
                    Abonnements
                </button>
                <ng-container *ngIf="showFollowing">
                    <div *ngFor="let following of followingList" (click)="showMonsterProfil(following._id)">
                        <ul>
                            <li>
                                {{ following.name }}
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>

            <!-- abonnés -->
            <div>
                <span>
                    {{ followerCount }}
                </span>
                <button (click)="showMonsterFollower()">
                    Abonnés
                </button>
                <ng-container *ngIf="showFollower">
                    <div *ngFor="let follower of followerList" (click)="showMonsterProfil(follower._id)">
                        <ul>
                            <!-- <li>
                            <img class="avatar" [src]="follower.avatar" alt="">
                        </li> -->
                            <li>
                                {{ follower.name }}
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!isLogged()">
            <p>
                Pour voir le profil complet et suivre le monstre
                <a [routerLink]="['/login']">
                    Connectez-vous
                </a>
                ou
                <a [routerLink]="['/signup']">
                    Créer un compte
                </a>
            </p>
        </div>
    </div>
    <!-- gestion de compte -->
    <div *ngIf="onHisProfil()">
        <div>
            <button (click)="goToEditMonster()">
                Modifier
            </button>
        </div>
        <div>
            <button (click)="logout()">
                Deconnexion
            </button>
        </div>
        <div>
            <button (click)="goToDeleteMonster()">
                Supprimer mon compte
            </button>
        </div>
    </div>
</div>

<div *ngIf='!monster'>
    <app-loader></app-loader>
</div>