* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.monster-card {
    border: solid 2px purple;
    margin: 8px;
    padding: 8px;
}

.select-avatar {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.select-avatar_text {
    width: 100%;
    text-align: center;
}
.avatar {
    width: 60px;
    height: 60px;
}
.select-avatar_avatar-box {
    width: 24%;
    text-align: center;
    border: 2px solid transparent;
}
.select-avatar_avatar-box:hover {
    border: 2px solid purple;
    border-radius: 5px;
}