.monster-card {
    border: solid 2px purple;
    margin: 8px;
    padding: 8px;
}

.select-avatar {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.select-avatar_text {
    width: 90%;
    text-align: center;
    margin: auto;
}
.avatar {
    width: 60px;
    height: 60px;
}